/* .productImage{
    display: flex;
    justify-content: center;

} */
.box{
    display: flex;
    /* flex-direction: column; */
}
.box2{
    margin: 40px;
}
.productRating{
    display: flex;
}
.starImage{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
.shareButton{
    font-size: 17px;
    height: 30px;
}
.removeButton{
    margin-left: 20px;
    height: 30px;
    font-size: 17px;
    background-color: red;
}
.likeBox{
    display: flex;
    margin-right: 20px;
}
.likeButton{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 17px;
    height: 30px;
}
